[user]
  name = Joshua Mack
  email = mackncheesiest@gmail.com
[core]
  autocrlf = false 
  editor = vim
[alias]
  st = status
  co = checkout
[color]
  diff = auto
  ui = auto
[pager]
  tag = false
  branch = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
# Replace HTTPS URLs with SSH URLs for Github
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "git@github.com:"]
  insteadOf = https://github.com/
