[user]
  name = Joshua Mack
  email = mackncheesiest@gmail.com
[core]
  autocrlf = false 
  editor = vim
[alias]
  st = status
  co = checkout
[color]
  ui = auto
[pager]
  tag = false
  branch = false
